@charset "utf-8";
/* CSS Document */




body{
	/*背景色をグラデ*/
	background: linear-gradient(72deg,#909090,#1d2088);
	color: #CCCCCC;
}
body.is-blue {
	/*背景色をグラデ*/
	background: linear-gradient(72deg,#0000ff,#0000ff);
	color: #CCCCCC;
}
body.is-brack {
	/*背景色をグラデ*/
	background: linear-gradient(72deg,#000000,#808080);
	color: #CCCCCC;
}



	


h1{
	margin-left:80px;
	font-family: "MS Serif", "New York", serif;
    background: linear-gradient(to right,#e60000,#f39800,#fff100,#009944,#0068b7,#1d2088,#920783);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 300%;
    font-weight: bold;
    display: inline-block;
	animation: 5s h1 linear infinite;
	@keyframes h1 {
  0%   { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
}
	background-size: 200% 200%;
    text-align: center;/*水平方向の中央揃え */
}

h1:hover{
	font-size: 600%;
	color: blue;
	transition:0.8s;
	
}

#tytle{
	transition: color 0.5s ease;
	
}


button1{
	margin-left:220px;
	/*text-align: center;/*水平方向の中央揃え */
	color:white;
	background:linear-gradient(to right,#3D7BE8,#1d2088);
	font-size: 700%;
	font-weight: bold;
}
button1:hover{
	color: blue;
	transition:0.8s;
}








#toggle + .label::after {
  content: "クリック前（checkbox OFF）";
}

#toggle:checked + .label::after {
  content: "クリック後（checkbox ON）";
	background: linear-gradient(to right,#e60000,#f39800,#fff100,#009944,#0068b7,#1d2088,#920783);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 300%;
    font-weight: bold;
    display: inline-block;
}









p{
	margin: 100px;
	position:relative;
		bottom:0;
	
	/*text-align: center;/*水平方向の中央揃え */*/
}

p:hover{
	color: red;
	
	text-decoration:underline;
	font-size: 300%;
	transition:0.8s;
}
p.is-red{
	color: red;
	
	text-decoration:underline;
	font-size: 300%;
	transition:0.8s;
}


p2{
	margin: 100px;
	position:relative;
		bottom:0;
	
	/*text-align: center;/*水平方向の中央揃え */*/
}



Linktext{
	margin-top:220px;
	margin-left:220px;
}

Linktext:hover{
	color: blue;
	
	text-decoration:underline;
	transition:0.8s;
}




box1{
	margin: 100px;
	position:relative;

}


box2{
	margin: 100px;
	position:relative;

}

























